/*
-------------------
 Banner Css
-------------------
*/
.page-banner {
    position: relative;
    overflow: hidden;
}
.page-banner-bg {
    position: absolute;
    z-index: 1;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center center!important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.page-banner-des {
    position: relative;
    z-index: 2;
    padding: 80px 0 60px;
    text-align: center;
}
.page-banner-title{
	display: block;
	font-size: 45px;
	line-height: 1;
	color: #fff;
	font-style: italic;
	margin-bottom: 5px;
	margin-top: 15px;
	font-family: 'helveticaneueitalic';
}
.page-banner-inr span{
	display: inline-block;
	vertical-align: baseline;
	font-size: 13px;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'helveticaneuelight';
}